#!/bin/bash
# run_onchange_: aqua.{profile}.yaml が変わった時だけ再実行される
# hash: {{ include (printf "dot_config/aquaproj-aqua/aqua.%s.yaml" .profile) | sha256sum }}
set -e

aqua install --all \
  --config "${XDG_CONFIG_HOME:-$HOME/.config}/aquaproj-aqua/aqua.{{ .profile }}.yaml"
