mkdir -p "$XDG_CONFIG_HOME/aquaproj-aqua"

path=("${AQUA_ROOT_DIR:-${XDG_DATA_HOME:-$HOME/.local/share}/aquaproj-aqua}/bin" $path)

export AQUA_GLOBAL_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/aquaproj-aqua/aqua.{{ .profile }}.yaml"
export AQUA_PROGRESS_BAR=true
